@media (min-width:1024px) and (max-width:1441px){ 
	.first{
		 min-height: 100vh;
         width: 100%;
          padding-top: 100px;
          padding-bottom: 100px;
  

	}

}
/* for laptop  */
@media (max-width:1024px){
	
	
}
/* for tablet  */
@media (min-width:576px) and (max-width:991px){
	.about-col{
		display: flex;
		justify-content: center;
	}
	.contact-col{
		display: flex;
		justify-content: center;
	}
	.team-col{
		display: flex;
		justify-content: center;
	}
	

	
}
/* for mobile  */
@media (max-width:575px){
	.team-col{
		display: flex;
		justify-content: center;
	}
   
}